/AsteroidsLibGDX/target/
/AsteroidsEntityFramework/Enemy/target/
/AsteroidsEntityFramework/Common/target/
/AsteroidsEntityFramework/Player/target/
/AsteroidsEntityFramework/Core/target/
/AsteroidsEntityFramework/Projectile/target/
/AsteroidsEntityFramework/Asteroid/target/
/AsteroidsEntityFramework/HitDetection/target/
/AsteroidsEntityFramework/CommonProjectile/target/